hr {
  background-color: #cfdac8;
  border-style: dotted none none;
  border-color: grey;
  border-width: 8px;
  width: 5%;
}
body {
  background-color: #cfdac8;
}
h1 {
  color: #394867;
  font-style: oblique;
}
h2 {
  color: #394867;
  font-style: oblique;


}
